/* Background */
body {
    background-image: url("../backgrounds/moving/stars2.gif");
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Header Styles */
header {
    max-width:90%;
    margin: 20px auto;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
    background-color: rgba(255, 153, 22, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 153, 0, 1);
}

header h1 {
    margin: 20px;
}

/* Main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* Window Containers */
.window-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 40px;
}

.window-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
    width: 20%;
}
.window-col.main-col {
    width: 50%;
}

/* Window Styles */
.window {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.window-title {
    width: 100%;
    background-color: rgba(255, 153, 0, 0.8);
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.window-title h1 {
    font-size: 3em;
    margin: 10px 20px;
}

.window-content {
    width: 100%;
    background-color: rgba(239, 108, 0, 0.8);
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

/* Center/Main Column Styles */
.mini-header {
    width: 100%;
    display: flex;
    text-align: flex-start;
    margin: 10px;
}

.text-body {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.text-body a {
    color: rgba(27, 94, 31, 1);
    text-decoration: underline;
}

.window-content h3 {
    font-size: 2.5em;
    text-align: flex-start;
    margin: 0;
}

.window-content p {
    font-size: 1.75em;
    margin: 0;
}

/* Left/Right Column Styles */
.img-window {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: rgba(239, 108, 0, 0.8);
    overflow: hidden;
    isolation: isolate;

}
.img-window::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(239, 108, 0, 0.3);
    pointer-events: none;
    z-index: 1;
    border: 3px solid rgba(110, 50, 0, 0.8);
}
.img-window img {
    width: 100%;
    position: relative;
    display: block;
    height: auto;
    z-index: 0;
}

/* Back Buttons */
.back-btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}
.back-btn {
    background-color: rgba(239, 108, 0, 0.8);
    border: 3px solid rgba(110, 50, 0, 0.8);
    padding: 10px;
}
.back-btn p {
    font-family: "Rubik Glitch", system-ui;
    color: black;
    font-size: 2.5em;
    text-decoration: none;
    margin: 0;
}
.back-btn a {
  text-decoration: none;
}
.back-btn:hover {
  scale: 1.1;
}
